.signup-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f3f3f3;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  .form-control {
    margin-bottom: 15px;
  }
  .btn-primary {
    width: 100%;
  }
  .form-check-label {
    margin-left: 5px;
  }
  .signup {
    text-align: right;
    span {
      cursor: pointer;
    }
  }
  .forgotpassword {
    span {
      cursor: pointer;
    }
  }
  .social-signup {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    a {
      width: 48%;
      text-align: center;
      padding: 10px;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
    }
    .google {
      background-color: #db4437;
    }
    .facebook {
      background-color: #3b5998;
    }
  }
}
